@import "../../scss/variables";

.sidebar {
  z-index: 1100;
  background-color: white;
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  overflow-x: hidden;
  &.active {
    left: 0;
    transition: 350ms;
    -webkit-box-shadow: 0px 0px 54px 12px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 0px 54px 12px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 54px 12px rgba(0, 0, 0, 0.11);
  }
}

.sidebar-items {
  padding: 0;
  width: 100%;

  .nav-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 56px;
    border-bottom: 1px solid $light-gray;
    padding: 24px 20px;

    .pl{
      padding-left: 15px;
    }

    .arrow {
      color: $gold;
      font-size: 18px;
      transition: 500ms;
    }

    .active {
      transition: 500ms;
      transform: rotate(+90deg);
    }

    &:hover {
      background-color: #fff4ec;
      .arrow {
        transition: 500ms;
        transform: rotate(+90deg);
      }
    }
 
    a {
      text-decoration: none;
      font-size: 18px;
      line-height: 40px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      color: $black;
    }
  }
  .sidebar-card {
    height: 185px;
    padding: 25px 20px;
    border-bottom: 1px solid $light-gray;
    &:hover {
      background-color: #fff4ec;
    }
    a:hover {
      text-decoration: none;
    }
    .content {
      display: flex;

      .bottle {
        min-width: 50px;
        display: flex;
        justify-content: center;
        margin-right: 26px;
      }

      .description {
        .title {
          color: $black;
          font-weight: bold;
          font-size: 16px;
          line-height: 40px;
        }
        .vol-alc {
          display: flex;
          justify-content: space-between;
          :first-child {
            margin-right: 48px;
          }
          .column {
            display: flex;
            flex-direction: column;
            min-width: 130px;
            .title {
              font-weight: 700;
              font-size: 12px;
              color: $gray;
            }
            span {
              font-weight: 700;
              font-size: 14px;
              color: $black;
            }
          }
        }
      }
    }
  }
}
