@import "./scss/_variables.scss";
@import "~bootstrap/scss/bootstrap";

.app {
  color: $black;
  .layout {
    padding: 0;
    position: relative;
  }
  .hassidebar {
    padding-left: 400px;
    transition: 350ms;
    
  }

}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: $gold; 
  
}

